


EXPO_PUBLIC_STAGE=dev

EXPO_PUBLIC_API_URL=http://192.168.0.23:3000/api
# para usar la camara reemplazar localhost por la ip
EXPO_PUBLIC_API_URL_IOS=http://localhost:3000/api
# la ip de tu maquina
EXPO_PUBLIC_API_URL_ANDROID=http://192.168.0.23:3000/api